certifi==2022.12.7
chardet==3.0.4
idna==2.8
matplotlib>=3.4.2
networkx==2.3
numpy==1.26.0
opencv-python==4.8.1.78
pillow>=8.3.1
plotly==3.10.0
requests==2.31.0
ipdb==0.13.9
termcolor==1.1.0
tqdm==4.31.1
urllib3>=1.24.3
